body {
    margin: 0px;
    font-family: Open Sans, sans-serif; /* Lato */
}
.body-bg {
    background-color: #FFFFFF;
}
#hero-container {
	margin: 0px 15px 15px 15px;
    background-color: #8ed0bd;
    color: white;
    height: 500px;
}
#navbar {
    background-color: #8ed0bd;
    position: relative;
    height: 69px;
    margin: 15px 15px 0px 15px;
    color: white;
}
.nav-item {
    float: right;
    padding: 25px;
    background-color: #8ed0bd;
    color: white;
}
#hero-content {
	text-align: center;
    padding: 152px 0px;
    font-size: 4.5em;
}
@media all and (max-width: 555px) {
    #hero-content {
        font-size: 4em;
    }
}
#container {
    text-align: center;
    padding: 50px 0px;
}
.item {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}
.scaled {
    height: 200px;
    width: 200px;
    margin-top: 40px;
}
.item-label {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.5em;
    border: 2px solid #6b4d83;
    color: #6b4d83;
    padding: 10px 15px;
    border-radius: 5px;
}
.background {
}
.full-width {
    width: 100%;
    position: fixed;
    z-index: -1;
}
#about-container {
    color: white;
    padding-bottom: 150px;
}
.section-title {
    font-size: 2em;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    display: inline-block;
}
.text-right {
    font-size: 1.1em;
    line-height: 36px;
    width: 40%;
    padding-left: 50%;
    font-weight: 300;
}
#title-content {
    display: inline-block;
    margin-left: 50px;
    color: #626366;
    padding: 20px 0px;
}
#title {
     color: #8ed0bd;
}
.tab {
    border-top: 3px solid #e5e4e3;
    border-bottom: 3px solid #e5e4e3;
    padding: 10px 50px;
    color: #6b4d83;
    font-size: 1.1em;
}
.circ-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0px auto;
    border: 3px solid #8ed0bd;
}
.border-color {
    border: 3px solid #FFFFFF;
}
.section-color {
    background-color: #8ed0bd;
    transition-duration: 1s;
}
/* 
.section:hover {
    background-color: #8ed0bd;
    transition-duration: 1s;
}
 */
.section-content {
    margin: 0px auto;
    width: 80%;
    padding-top: 45px;
}
.desc {
    /*display: inline-block; */
    line-height: 30px;
    padding-top: 45px;
    /* margin-left: 10%; */
    width: 50%;
    height: auto;
    color: #626366;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 45px;
}
.desc-color {
    color: #6b4d83;
}
.background {
    width: 100%;
    display: block;
}
#contact-container {
    position: relative;
}
.left {
    position: absolute;
	bottom: 45%;
	color: white;
	width: 330px;
	line-height: 40px;
	padding: 30px;
	/* font-size: 1.2em; */
	/* background-color: rgba(0,0,0,0.5); */
	background-color: #6b4d83;
	font-weight: 300;
}
.hide {
    left: -100%;
}
#resume {
    position: absolute;
	bottom: -75px;
	left: 0px;
	color: #8ed0bd;
	padding: 30px 25px;
	background-color: #444;
	font-weight: 300;
	width: 70%;
	text-align: center;
}
.link {
    text-decoration: none;
	border: 2px solid;
	border-radius: 5px;
	padding: 10px 10px;
	color: white;
	margin-left: 5px;
}
/* ===================== Mobile ======================== */
@media all and (max-width: 826px) {
    .full-width {
        position: fixed;
        z-index: -1;
    	height: 100%;
    }
    #resume {
        position: static;
        bottom: 0px;
        /*right: 10%;*/
		/* color: #626366; */
		text-align: center;
		background-color: #FFFFFF;
		margin: 0px auto;
    }
    .gray a {
        color: #626366;
    }
    .gray a:visited {
        color: #626366;
    }
    .left {
        position: static;
        bottom: 0px;
		color: #626366;
		width: 40%;
		line-height: 40px;
		padding: 30px;
		/*font-size: 1.2em;*/
		text-align: center;
		margin: 0px auto;
		background-color: #FFFFFF;
    }
    .link {
        color: #6b4d83;
        text-decoration: none;
        border: 2px solid;
        border-radius: 5px;
        padding: 7px 15px;
        margin-left: 5px;
    }
}
/* ==================================================== */

a {
    text-decoration: none;
}
.nav-item a {
    color: white;
}
.nav-item a:visited {
    color: #FFFFFF;
}
#info {
    background-color: #8ed0bd;
    padding: 20px 25px;
    color: #626366;
    position: relative
}
#email {
    padding: 10px 0px;
    position: absolute;
    right: 25px;
    top: 0px;
}
#addr {
    margin-left: 5px;
    color: white;
}
#connect {
    position: absolute;
    right: 25px;
    bottom: 10px;
}
#connect a {
    color: #626366;
}
#connect a:visited {
    color: #626366;
}
#linkedin {
    margin-left: 10px;
}
#connect a:hover {
    color:#FFFFFF;
}
.underline {
    text-decoration: underline;
}
@media all and (max-width: 430px) {
    #email {
        position: static;
    }
    #connect {
        position: static;
    }
}